<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5eed4c81-8738-4bf5-82c1-b7750d45056f" Alias="1902 Change Frequency" Level="1">
  <Info>
    <Name>1902 Change Frequency</Name>
    <EditorAlias>dropdown.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "always"
    },
    {
      "value": "hourly"
    },
    {
      "value": "daily"
    },
    {
      "value": "weekly"
    },
    {
      "value": "monthly"
    },
    {
      "value": "yearly"
    },
    {
      "value": "never"
    }
  ],
  "customInnerLabel": "Change Frequency",
  "customInnerHint": "This tells search engines how often this page is updated, for indexing purposes."
}]]></Config>
</DataType>