<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8d19e60-28d6-4a43-beac-f4228426be8f" Alias="1902 Clear Open Graph" Level="1">
  <Info>
    <Name>1902 Clear Open Graph</Name>
    <EditorAlias>clearControl.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "group": "opengraph",
  "buttonText": "Remove all open graph values"
}]]></Config>
</DataType>