<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4bbd1a91-e53f-49f5-a20d-cc4ecc8a10ad" Alias="1902 JSON LD Script" Level="1">
  <Info>
    <Name>1902 JSON LD Script</Name>
    <EditorAlias>textInput.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "validatortype": -89,
  "maxInput": 0,
  "customInnerLabel": "JSON-LD Script",
  "customInnerHint": "You can create the schema markup for this page using JSON-LD script. Schema makes your page more organized and easier for search engines to read. This helps in pointing the search engine crawlers to what exactly you want them to read on your page, and also enhances the rich snippet for your page that appears on search results. NOTE: If you have already set the organization and local business schema on the SEO+ dashboard, there is no need to include the markup here.",
  "ruletype": [
    {
      "color": "#ffa500",
      "conditionSign": "regex",
      "message": "Must be enclose in &lt;script&gt;&lt;/script&gt;",
      "reverse": true,
      "targetId": 2,
      "value": "<script[^>]*>[^<]*</script>"
    },
    {
      "color": "#808080",
      "conditionSign": ">",
      "message": "Need help building schemas? For the most common types, you can use Google’s <a href='https://www.google.com/webmasters/markup-helper' target='_blank' style='color:#808080' class='c-a-undelined'>Structured Data Markup Helper</a>. For the complete list, refer to <a href='https://schema.org/docs/schemas.html' target='_blank' style='color:#808080' class='c-a-undelined'>Schema.org </a>.",
      "reverse": false,
      "targetId": 3,
      "value": "-1"
    }
  ]
}]]></Config>
</DataType>