<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3b449fd7-1883-41fe-8870-252e49929239" Alias="1902 Local Business" Level="1">
  <Info>
    <Name>1902 Local Business</Name>
    <EditorAlias>dropdown.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "hideDefaultLabel": true,
  "customInnerLabel": "Local Businesses",
  "customInnerHint": "Select the local business schema markup that you want to use for this specific page. You can add and edit the schema markups on the dashboard.",
  "enableApiSource": true,
  "customApiUrl": "/umbraco/backoffice/Seo1902/Dashboard/GetLocalBusinesses"
}]]></Config>
</DataType>