<?xml version="1.0" encoding="utf-8"?>
<DataType Key="728a7932-d776-4359-bff8-87c8f591613b" Alias="1902 Og Description" Level="1">
  <Info>
    <Name>1902 Og Description</Name>
    <EditorAlias>textInput.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "validatortype": -89,
  "placeHolder": "Og Description",
  "maxInput": 0,
  "characterCount": true,
  "hideDefaultLabel": true,
  "customInnerLabel": "Description",
  "customInnerHint": "Set the snippet or brief preview of your page that appears below the OG Title when this page is shared on Facebook and other social media sites (except for Twitter).",
  "ruletype": [
    {
      "color": "#c3c2c7",
      "conditionSign": "<",
      "message": "There is no character limit but it's best to stay within 70 characters",
      "reverse": false,
      "targetId": 1,
      "value": "69"
    }
  ],
  "group": "opengraph"
}]]></Config>
</DataType>