<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5150576e-71a6-4274-8ad6-dcaffd77d7fc" Alias="1902 Og Image" Level="1">
  <Info>
    <Name>1902 Og Image</Name>
    <EditorAlias>mediaPicker.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "idealWidth": 1200,
  "idealHeight": 630,
  "hideDefaultLabel": true,
  "customInnerLabel": "Image",
  "customInnerHint": "This is the image that will be displayed when this page is shared on Facebook and other social media sites (except for Twitter).",
  "group": "opengraph"
}]]></Config>
</DataType>