<?xml version="1.0" encoding="utf-8"?>
<DataType Key="348609a3-80a2-4f7b-9e81-d5901a07f4cb" Alias="1902 Og Title" Level="1">
  <Info>
    <Name>1902 Og Title</Name>
    <EditorAlias>textInput.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "validatortype": -88,
  "placeHolder": "Og Title",
  "maxInput": 0,
  "characterCount": true,
  "customInnerLabel": "Title",
  "customInnerHint": "Set the default headline that appears in bold when this page is shared on Facebook and other social media sites (except for Twitter).",
  "ruletype": [
    {
      "color": "#c3c2c7",
      "conditionSign": "regex",
      "message": "There is no character limit but it's best to stay within 60 and 90 characters",
      "reverse": false,
      "targetId": 2,
      "value": "^.{60,90}$"
    },
    {
      "color": "#c3c2c7",
      "conditionSign": "<",
      "message": "There is no character limit but it's best to stay within 60 and 90 characters",
      "reverse": false,
      "targetId": 1,
      "value": "60"
    }
  ],
  "group": "opengraph"
}]]></Config>
</DataType>