<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05d729de-4b25-4d91-bf00-4323e2baa8d2" Alias="1902 Og Type" Level="1">
  <Info>
    <Name>1902 Og Type</Name>
    <EditorAlias>dropdown.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "hideDefaultLabel": true,
  "customInnerLabel": "Type",
  "customInnerHint": "Set the type of content that this page is. This is especially important if you want to categorize your page and make it easier for search engines to understand what your page is about.",
  "ruletype": [],
  "group": "opengraph",
  "items": [
    {
      "value": "website"
    },
    {
      "value": "article"
    },
    {
      "value": "book"
    },
    {
      "value": "profile"
    },
    {
      "value": "music.song"
    },
    {
      "value": "music.album"
    },
    {
      "value": "music.playlist"
    },
    {
      "value": "music.radio_station"
    },
    {
      "value": "video.movie"
    },
    {
      "value": "video.episode"
    },
    {
      "value": "video.tv_show"
    },
    {
      "value": "video.other"
    },
    {
      "value": "article"
    },
    {
      "value": "book"
    },
    {
      "value": "profile"
    },
    {
      "value": "music.song"
    },
    {
      "value": "music.album"
    },
    {
      "value": "music.playlist"
    },
    {
      "value": "music.radio_station"
    },
    {
      "value": "video.movie"
    },
    {
      "value": "video.episode"
    },
    {
      "value": "video.tv_show"
    },
    {
      "value": "video.other"
    }
  ]
}]]></Config>
</DataType>