<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c56f762a-52fc-4a8c-8641-1f17ab75181c" Alias="1902 Open Graph Collapsible" Level="1">
  <Info>
    <Name>1902 Open Graph Collapsible</Name>
    <EditorAlias>collapsible.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "group": "opengraph",
  "showOgDetails": true
}]]></Config>
</DataType>