<?xml version="1.0" encoding="utf-8"?>
<DataType Key="88d62332-2e35-43dd-96d8-7c044a814c3d" Alias="1902 Preview" Level="1">
  <Info>
    <Name>1902 Preview</Name>
    <EditorAlias>preview.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "hint": "This is how your page might look like when it appears on search results. Note that it might appear differently in certain cases, but generally, this is what you can expect your potential visitors to see when they see your page on search engines."
}]]></Config>
</DataType>