<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c078148f-3e0e-482c-9b8b-266ec22fec2d" Alias="1902 Priority" Level="1">
  <Info>
    <Name>1902 Priority</Name>
    <EditorAlias>dropdown.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "0.0"
    },
    {
      "value": "0.1"
    },
    {
      "value": "0.2"
    },
    {
      "value": "0.3"
    },
    {
      "value": "0.4"
    },
    {
      "value": "0.5"
    },
    {
      "value": "0.6"
    },
    {
      "value": "0.7"
    },
    {
      "value": "0.8"
    },
    {
      "value": "0.9"
    },
    {
      "value": "1.0"
    }
  ],
  "hideDefaultLabel": true,
  "customInnerLabel": "Priority",
  "customInnerHint": "This sets how important this page is with respect to other pages within your site. 0 means the lowest priority while 1 is the highest priority. The priority number determines which page will appear higher on search results as compared to other pages within your site."
}]]></Config>
</DataType>