<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fde621fc-e54c-4a82-8a39-a3d63c54ac7b" Alias="1902 Seo Description" Level="1">
  <Info>
    <Name>1902 Seo Description</Name>
    <EditorAlias>textInput.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "validatortype": -89,
  "placeHolder": "Meta description",
  "maxInput": 160,
  "characterCount": true,
  "ruletype": [
    {
      "color": "#4db53c",
      "conditionSign": "regex",
      "message": "The meta description is set correctly. The length is between 135 and 160 characters",
      "reverse": false,
      "targetId": 2,
      "value": "^.{135,160}$"
    }
  ]
}]]></Config>
</DataType>