<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9a99a862-82bd-4ce1-aec4-4a054c96a8c1" Alias="1902 Seo Keyword" Level="1">
  <Info>
    <Name>1902 Seo Keyword</Name>
    <EditorAlias>tags.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "hint": "Keywords refer to the search terms that you want your page to appear or rank for in search results (e.g., if you want your page to be found when a person searches for “Umbraco package”, you can set “Umbraco package” as your keyword).   Keywords  are not limited to one-word terms; they can also be phrases that you think your target visitor would search for. These keywords are set up so 1902 SEO+ can help you analyze your content and provide you suggestions on what you can improve based on the keywords you’ve chosen. They are not to be taken as a guarantee that your page will appear on search results when someone searches for your set keywords.",
  "placeholder": "Type to add keywords (press enter after each keyword)...",
  "note": "Dont forget to click the save button"
}]]></Config>
</DataType>