<?xml version="1.0" encoding="utf-8"?>
<DataType Key="577b3a78-cd6f-49a3-8146-5fc9f17ce53a" Alias="1902 Seo Title" Level="1">
  <Info>
    <Name>1902 Seo Title</Name>
    <EditorAlias>textInput.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "validatortype": -88,
  "placeHolder": "Meta title",
  "maxInput": 0,
  "ruletype": [
    {
      "color": "#4db53c",
      "conditionSign": "regex",
      "message": "The title is set correctly. The length is between 10 and 50 characters",
      "reverse": false,
      "targetId": 2,
      "value": "^.{10,50}$"
    }
  ]
}]]></Config>
</DataType>