<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3409c5b2-0dec-495a-a0ec-00dee3ff9bef" Alias="1902 Summary" Level="1">
  <Info>
    <Name>1902 Summary</Name>
    <EditorAlias>summary.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "keywordHint": "List of inputted keyword."
}]]></Config>
</DataType>