<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72c4bd5f-0697-4f7d-a833-cac679d56999" Alias="1902 True False" Level="1">
  <Info>
    <Name>1902 True False</Name>
    <EditorAlias>truefalse.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>