<?xml version="1.0" encoding="utf-8"?>
<DataType Key="47a34c76-2f0a-47bd-ac52-6208332f333d" Alias="1902 Twitter Title" Level="1">
  <Info>
    <Name>1902 Twitter Title</Name>
    <EditorAlias>textInput.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "validatortype": -88,
  "placeHolder": "Twitter title",
  "maxInput": 0,
  "characterCount": true,
  "customInnerLabel": "Title",
  "customInnerHint": "Set the default headline that appears when this page is shared on Twitter.",
  "ruletype": [
    {
      "color": "#c3c2c7",
      "conditionSign": "regex",
      "message": "There is no character limit but it's best to stay within 60 and 90 characters",
      "targetId": 2,
      "value": "^.{60,90}$"
    },
    {
      "color": "#c3c2c7",
      "conditionSign": "<",
      "message": "There is no character limit but it's best to stay within 60 and 90 characters",
      "targetId": 1,
      "value": "60"
    }
  ],
  "group": "opengraph"
}]]></Config>
</DataType>