<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a418fc6-1a16-4d03-9702-a3bc30a1da3a" Alias="1902 Twitter Description" Level="1">
  <Info>
    <Name>1902 Twitter Description</Name>
    <EditorAlias>textInput.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "validatortype": -89,
  "placeHolder": "Twitter Description",
  "maxInput": 0,
  "characterCount": true,
  "hideDefaultLabel": true,
  "customInnerLabel": "Description",
  "customInnerHint": "Set the snippet or brief preview of your page that appears below the Twitter Title when this page is shared on Twitter.",
  "ruletype": [
    {
      "color": "#c3c2c7",
      "conditionSign": ">=",
      "message": "There is no character limit but it's best to stay within 70 characters",
      "targetId": 1,
      "value": "69"
    }
  ],
  "group": "opengraph"
}]]></Config>
</DataType>