<?xml version="1.0" encoding="utf-8"?>
<DataType Key="75c8be4d-dc5e-48e7-a621-52a6c1a0f83c" Alias="1902 Twitter Image" Level="1">
  <Info>
    <Name>1902 Twitter Image</Name>
    <EditorAlias>mediaPicker.1902Seo</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "idealWidth": 1200,
  "idealHeight": 630,
  "hideDefaultLabel": true,
  "customInnerLabel": "Image",
  "customInnerHint": "This is the image that will be displayed when this page is shared on Twitter.",
  "group": "opengraph"
}]]></Config>
</DataType>