<div ng-controller="Umbraco.Community.ContentAudit.OverviewController as vm">

    <div class="content-audit-dashboard">
        <uui-box headline="Latest audit" class="span-2" style="{{vm.latestAuditOverview.runDate !== null ? '--uui-box-default-padding: 0;' : ''}}">
            <div slot="header" ng-if="vm.latestAuditOverview.runDate != null">
                {{ vm.latestAuditOverview.runDate | date : 'MMMM d, yyyy h:mm a' }}
            </div>
            <div slot="header-actions">
                <uui-button look="primary"
                            ng-click="openModal()"
                            ng-disabled="vm.buttonState === 'busy'"
                            state={{vm.buttonState}}>
                    Run new scan
                </uui-button>
            </div>

            <div>
                <div ng-if="vm.latestAuditOverview.runDate === null && !vm.scanRunning">
                    <p>No scan has been run yet</p>
                </div>

                <div ng-if="vm.latestAuditOverview.runDate !== null && !vm.scanRunning">
                    <uui-table>
                        <uui-table-column></uui-table-column>
                        <uui-table-column></uui-table-column>

                        <uui-table-row>
                            <uui-table-cell>Total URLs:</uui-table-cell>
                            <uui-table-cell>{{vm.latestAuditOverview.total}}</uui-table-cell>
                        </uui-table-row>
                        <uui-table-row>
                            <uui-table-cell>Internal URLs:</uui-table-cell>
                            <uui-table-cell>{{vm.latestAuditOverview.totalInternal}}</uui-table-cell>
                        </uui-table-row>
                        <uui-table-row>
                            <uui-table-cell>External URLs:</uui-table-cell>
                            <uui-table-cell>{{vm.latestAuditOverview.totalExternal}}</uui-table-cell>
                        </uui-table-row>
                        <uui-table-row>
                            <uui-table-cell>Asset URLs:</uui-table-cell>
                            <uui-table-cell>{{vm.latestAuditOverview.totalAssets}}</uui-table-cell>
                        </uui-table-row>
                        <uui-table-row>
                            <uui-table-cell>Blocked URLs:</uui-table-cell>
                            <uui-table-cell>{{vm.latestAuditOverview.totalBlocked}}</uui-table-cell>
                        </uui-table-row>
                    </uui-table>
                </div>

                <div ng-if="vm.scanRunning">
                    <uui-loader-bar></uui-loader-bar>

                    <uui-table>
                        <uui-table-column></uui-table-column>
                        <uui-table-column></uui-table-column>

                        <uui-table-row>
                            <uui-table-cell>URLs crawled:</uui-table-cell>
                            <uui-table-cell>{{vm.urlsFound}}</uui-table-cell>
                        </uui-table-row>
                        <uui-table-row>
                            <uui-table-cell>Internal URLs:</uui-table-cell>
                            <uui-table-cell>{{vm.pagesCrawled}}</uui-table-cell>
                        </uui-table-row>
                        <uui-table-row>
                            <uui-table-cell>External URLs:</uui-table-cell>
                            <uui-table-cell>{{vm.externalCrawled}}</uui-table-cell>
                        </uui-table-row>
                        <uui-table-row>
                            <uui-table-cell>Asset URLs:</uui-table-cell>
                            <uui-table-cell>{{vm.assetsCrawled}}</uui-table-cell>
                        </uui-table-row>
                        <uui-table-row>
                            <uui-table-cell>Blocked URLs:</uui-table-cell>
                            <uui-table-cell>{{vm.blockedUrls}}</uui-table-cell>
                        </uui-table-row>
                    </uui-table>
                </div>
            </div>
        </uui-box>

        <uui-box headline="Site health" class="span-1">
            <div class="score">
                <svg viewBox="0 0 36 36" class="score__inner {{vm.scoreClass}}">
                    <path class="score__bg"
                          d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831" />
                    <path class="score__fill"
                          stroke-dasharray="{{vm.healthScore.healthScore}}, 100"
                          d="M18 2.0845
                a 15.9155 15.9155 0 0 1 0 31.831
                a 15.9155 15.9155 0 0 1 0 -31.831" />
                </svg>
                <p class="score__text">{{vm.healthScore.healthScore.toFixed(0)}} / 100</p>
            </div>
        </uui-box>

        <uui-box headline="Top issues" class="span-3" style="{{vm.topIssues.length != 0 ? '--uui-box-default-padding: 0;' : ''}}">
            <div slot="header-actions">
                <uui-button look="secondary" ng-href="#/audit/issues/overview">See all issues</uui-button>
            </div>

            <uui-table ng-if="vm.topIssues.length !== 0">

                <uui-table-column></uui-table-column>
                <uui-table-column></uui-table-column>
                <uui-table-column></uui-table-column>
                <uui-table-column></uui-table-column>
                <uui-table-column></uui-table-column>

                <uui-table-head>
                    <uui-table-head-cell>Issue</uui-table-head-cell>
                    <uui-table-head-cell>Type</uui-table-head-cell>
                    <uui-table-head-cell>Priority</uui-table-head-cell>
                    <uui-table-head-cell>Number of URLs affected</uui-table-head-cell>
                    <uui-table-head-cell>Percentage of all pages</uui-table-head-cell>
                </uui-table-head>

                <uui-table-row selectable ng-repeat="issue in vm.topIssues" ng-click="vm.issueDetails(issue.unique)" style="cursor: pointer;">
                    <uui-table-cell>
                        <span>
                            <strong><a href="#/audit/issues/details/{{issue.unique}}">{{issue.category}}: {{issue.name}}</a></strong>
                            <br />{{issue.description}}
                        </span>
                    </uui-table-cell>
                    <uui-table-cell ng-bind-html="vm.renderTypeLabel(issue.type)"></uui-table-cell>
                    <uui-table-cell ng-bind-html="vm.renderPriorityLabel(issue.priority)"></uui-table-cell>
                    <uui-table-cell>{{issue.numberOfUrls}}</uui-table-cell>
                    <uui-table-cell>{{issue.percentOfTotal.toFixed(0)}}%</uui-table-cell>
                </uui-table-row>
            </uui-table>

            <div ng-if="vm.topIssues.length == 0">
                <p>No scan has been run yet</p>
            </div>
        </uui-box>
    </div>

</div>