<div ng-controller="Umbraco.Community.ContentAudit.SettingsController as vm">

    <uui-box headline="Settings" class="form-horizontal">
        <div slot="header">Discovered from appsettings.json</div>

        <umb-control-group label="Use Umbraco content index"
                           description="If true, Content Audit will use content from the index instead of the crawler">
            <uui-toggle ng-checked="vm.settings.useUmbracoContentIndex" readonly></uui-toggle>
        </umb-control-group>

        <umb-control-group label="Respect robots.txt"
                           description="If any content is set to 'disallow', it will be ignored by the crawler">
            <uui-toggle ng-checked="vm.settings.respectRobotsTxt" readonly></uui-toggle>
        </umb-control-group>

        <umb-control-group label="Use sitemap.xml"
                           description="If true, Content Audit will use pages listed in 'sitemap.xml' instead of the crawler">
            <uui-toggle ng-checked="vm.settings.useSitemapXml" readonly></uui-toggle>
        </umb-control-group>

        <umb-control-group label="Sitemap URL"
                           description="Custom path to sitemap. Defaults to '/sitemap.xml'">
            {{vm.settings.sitemapUrl}}
        </umb-control-group>

    </uui-box>

</div>