<div ng-controller="Umbraco.Community.ContentAudit.AllPages.OverviewController as vm">

    <umb-editor-view footer="false">

        <umb-editor-header name="vm.name" name-locked="true" hide-alias="true" hide-description="true" hide-icon="true">
        </umb-editor-header>

        <umb-editor-container>

            <umb-editor-sub-header>

                <umb-search-filter input-id="search"
                                   model="vm.filter"
                                   label-key="placeholders_search"
                                   text="Type to search..."
                                   css-class="w-100 mb-15"
                                   style="width: 100%;"
                                   auto-focus="true">
                </umb-search-filter>

            </umb-editor-sub-header>

            <uui-box ng-if="!vm.loading && vm.data.length != 0" style="--uui-box-default-padding: 0;">

                <uui-table>
                    <uui-table-head>
                        <uui-table-head-cell>URL</uui-table-head-cell>
                        <uui-table-head-cell>Content Type</uui-table-head-cell>
                        <uui-table-head-cell>Status Code</uui-table-head-cell>
                    </uui-table-head>

                    <uui-table-row selectable ng-repeat="data in vm.data" ng-click="vm.pageDetails(data.unique)" style="cursor: pointer;">
                        <uui-table-cell>
                            <a href="#/audit/all-pages/details/{{data.unique}}">{{data.pageData.url}}</a>
                        </uui-table-cell>
                        <uui-table-cell>{{data.technicalSeoData.contentType}}</uui-table-cell>
                        <uui-table-cell ng-bind-html="vm.renderStatusCodeLabel(data.pageData.statusCode)"></uui-table-cell>
                    </uui-table-row>
                </uui-table>

            </uui-box>

            <div ng-if="!vm.loading" class="flex justify-center">
                <umb-pagination page-number="vm.pageNumber" total-pages="vm.totalPages"
                                on-change="vm.changePageNumber(pageNumber)">
                </umb-pagination>
            </div>

            <umb-empty-state ng-if="vm.data.length == 0" position="center">
                <p>No data to show yet.</p>
            </umb-empty-state>
        </umb-editor-container>
    </umb-editor-view>
</div>