<div ng-controller="Umbraco.Community.ContentAudit.AllPages.IssuesController as vm">

    <uui-box ng-if="vm.data.length != 0" style="--uui-box-default-padding: 0;">

        <uui-table>
            <uui-table-head>
                <uui-table-head-cell>Issue</uui-table-head-cell>
                <uui-table-head-cell>Type</uui-table-head-cell>
                <uui-table-head-cell>Priority</uui-table-head-cell>
            </uui-table-head>

            <uui-table-row selectable ng-repeat="data in vm.data" ng-click="vm.issueDetails(data.unique)" style="cursor: pointer;">
                <uui-table-cell>
                    <strong><a href="#/audit/issues/details/{{data.unique}}">{{data.category}}: {{data.name}}</a></strong><br />
                    {{data.description}}
                </uui-table-cell>

                <uui-table-cell ng-bind-html="vm.renderTypeLabel(data.type)"></uui-table-cell>
                <uui-table-cell ng-bind-html="vm.renderPriorityLabel(data.priority)"></uui-table-cell>
            </uui-table-row>
        </uui-table>

    </uui-box>

</div>