<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe027feb-ed43-4d2b-807c-baed46b410f7" Alias="Orphaned Page" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/OrphanedPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-12-12T11:44:27</CreateDate>
    <NodeName Default="Orphaned Page" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="36b90024-6944-4edb-9226-8ac1da594bf1">contentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Orphaned Page]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[Orphaned Page]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[1]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>