<div ng-controller="Umbraco.Community.ContentAudit.Controller.StatusCodes as vm">

    <umb-editor-view footer="false">

        <umb-editor-header name="vm.name" name-locked="true" hide-alias="true" hide-description="true" hide-icon="true">
        </umb-editor-header>

        <umb-editor-container>

            <umb-editor-sub-header>

                <umb-editor-sub-header-content-left style="flex-grow: 1; padding-right: 16px;">
                    <umb-search-filter input-id="search"
                                       model="vm.filter"
                                       label-key="placeholders_search"
                                       text="Type to search..."
                                       css-class="w-100 mb-15"
                                       style="width: 100%;"
                                       auto-focus="true">
                    </umb-search-filter>
                </umb-editor-sub-header-content-left>

                <umb-editor-sub-header-content-right style="flex-grow: 1;">
                    <select class="umb-property-editor umb-dropdown" ng-model="vm.statusCode">
                        <option value="0">All</option>
                        <option ng-repeat="statusCode in vm.statusCodes">{{statusCode}}</option>
                    </select>
                </umb-editor-sub-header-content-right>

            </umb-editor-sub-header>

            <uui-box ng-if="!vm.loading && vm.data.length != 0" style="--uui-box-default-padding: 0;">

                <uui-table>
                    <uui-table-head>
                        <uui-table-head-cell>URL</uui-table-head-cell>
                        <uui-table-head-cell>Content Type</uui-table-head-cell>
                        <uui-table-head-cell>Status Code</uui-table-head-cell>
                    </uui-table-head>

                    <uui-table-row ng-repeat="data in vm.data">
                        <uui-table-cell>
                            <a href="#/content/content/edit/{{data.nodeKey}}" ng-click="vm.inlineEditor($event, data.nodeKey)">{{data.url}}</a>
                        </uui-table-cell>
                        <uui-table-cell>{{data.contentType}}</uui-table-cell>
                        <uui-table-cell ng-bind-html="vm.renderStatusCodeLabel(data.statusCode)"></uui-table-cell>
                    </uui-table-row>
                </uui-table>

            </uui-box>

            <div ng-if="!vm.loading" class="flex justify-center">
                <umb-pagination page-number="vm.pageNumber" total-pages="vm.totalPages"
                                on-change="vm.changePageNumber(pageNumber)">
                </umb-pagination>
            </div>

            <umb-empty-state ng-if="vm.data.length == 0" position="center">
                <p>No data to show yet.</p>
            </umb-empty-state>
        </umb-editor-container>
    </umb-editor-view>
</div>