<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4f1934eb-8184-4668-ac76-a437e3959072" Alias="seoPackage1902" Level="1">
  <Info>
    <Name>1902 SEO</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ee93e1ad-f58e-4df4-9898-8021e37bbe8c</Key>
      <Name>Canonical Url</Name>
      <Alias>canonicalUrl1902Seo</Alias>
      <Definition>3ff1785b-a71d-428c-adb5-e497bc161e88</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aa7bf8ca-cd6a-4d27-8723-21f33e3432e9</Key>
      <Name>Clear Open Graph</Name>
      <Alias>clearOpenGraph1902Seo</Alias>
      <Definition>f8d19e60-28d6-4a43-beac-f4228426be8f</Definition>
      <Type>clearControl.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>19</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>38a2d141-16be-4143-833c-149eba687f5d</Key>
      <Name>Description</Name>
      <Alias>description1902Seo</Alias>
      <Definition>fde621fc-e54c-4a82-8a39-a3d63c54ac7b</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[You can write a short snippet or summary of the content of your page to tell your potential visitors what this page is about. This description will appear below the Page Title on search results (see Preview below). Your description can be any length, but keep in mind that search engines may truncate your description if it’s too long, so it’s best to keep it brief but comprehensive. 

In some cases, Google may select a different part of your page’s content to show as the description on search results. This happens because of several possible reasons, such as: Google thinks that your meta description does not accurately describe the content of your page, or your meta description does not contain the keywords or terms that a person has searched for—in which case Google takes a part of your content that better matches the person’s search.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dbac0928-ba75-4bf3-ae22-448962e30554</Key>
      <Name>Keyword</Name>
      <Alias>keyword1902Seo</Alias>
      <Definition>9a99a862-82bd-4ce1-aec4-4a054c96a8c1</Definition>
      <Type>tags.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Keywords refer to the search terms that you want your page to appear or rank for in search results (e.g., if you want your page to be found when a person searches for “Umbraco package”, you can set “Umbraco package” as your keyword). 
Keywords  are not limited to one - word terms; they can also be phrases that you think your target visitor would search for. These keywords are set up so 1902 SEO + can help you analyze your content and provide you suggestions on what you can improve based on the keywords you’ve chosen.They are not to be taken as a guarantee that your page will appear on search results when someone searches for your set keywords.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f5f08fa3-8123-456d-8de2-bca5847b3164</Key>
      <Name>Schema</Name>
      <Alias>ldScript1902Seo</Alias>
      <Definition>4bbd1a91-e53f-49f5-a20d-cc4ecc8a10ad</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c975d4a2-2a9b-4f58-b3be-7211cb7e9cec</Key>
      <Name>Schema Business</Name>
      <Alias>ldScriptBusiness1902Seo</Alias>
      <Definition>3b449fd7-1883-41fe-8870-252e49929239</Definition>
      <Type>dropdown.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>21</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6f5c02b0-fe88-4909-9367-0c56897b1cc3</Key>
      <Name>1902 Logo</Name>
      <Alias>logo1902Seo</Alias>
      <Definition>de180de6-c096-4559-bd63-6c80ddba7285</Definition>
      <Type>logo.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ceb3558-1707-41d4-ba49-cb3560daae31</Key>
      <Name>No Follow</Name>
      <Alias>noFollow1902Seo</Alias>
      <Definition>72c4bd5f-0697-4f7d-a833-cac679d56999</Definition>
      <Type>truefalse.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box if you don’t want search engine crawlers to follow any outgoing links from this page. This means that you are not passing any “link juice” to the other sites or pages that you are linking to. 
Link juice refers to the value that is passed from one site to another through hyperlinks.Basically, when you link to another site on your page(and that page is set to be followed), the search engines view the link as a vote or endorsement from your site that the page you are linking to is valuable.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1aa7e4f2-2c97-40b6-9c5b-68084b7bfaf9</Key>
      <Name>No Index</Name>
      <Alias>noIndex1902Seo</Alias>
      <Definition>72c4bd5f-0697-4f7d-a833-cac679d56999</Definition>
      <Type>truefalse.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Check this box if you don’t want this page to be indexed by search engines, that is, search engines will not include this particular page in search results.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9d32550c-3540-4d24-bb70-86d267b3078f</Key>
      <Name>Og Description</Name>
      <Alias>ogDescription1902Seo</Alias>
      <Definition>728a7932-d776-4359-bff8-87c8f591613b</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>13</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1c35e9e1-4b4a-477e-bc4f-77a940c6df17</Key>
      <Name>Og Image</Name>
      <Alias>ogImage1902Seo</Alias>
      <Definition>5150576e-71a6-4274-8ad6-dcaffd77d7fc</Definition>
      <Type>mediaPicker.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>14</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d80b8c00-e4b3-4993-b4d0-04d9cf5d21ef</Key>
      <Name>Open Graph Settings</Name>
      <Alias>ogTitle1902Seo</Alias>
      <Definition>348609a3-80a2-4f7b-9e81-d5901a07f4cb</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When this page is shared on Facebook and other social media sites (except for Twitter), these will be the default content that will be displayed.]]></Description>
      <SortOrder>12</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ffb8750e-9c9c-46dc-bf4b-7af337d60206</Key>
      <Name>Og Type</Name>
      <Alias>ogType1902Seo</Alias>
      <Definition>05d729de-4b25-4d91-bf00-4323e2baa8d2</Definition>
      <Type>dropdown.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>15</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>08e7e382-3c0c-43c6-a2c8-a6542b4dacf5</Key>
      <Name>Open Graph</Name>
      <Alias>openGraphCollapse1902Seo</Alias>
      <Definition>c56f762a-52fc-4a8c-8641-1f17ab75181c</Definition>
      <Type>collapsible.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Open Graph lets you identify which elements from your page is displayed when it is shared on social media or similar sites. Usually, this includes a title, short description, and an image—all of which, when combined together, paint a visual representation of what your page is about. If you have set default values on the Global Open Graph settings on the SEO+ dashboard, those values will be automatically applied to this page as well. Here, you can override the default values and set up the specific open graph values for this page.]]></Description>
      <SortOrder>11</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e2b767c1-9be3-4cd9-9289-c6c3bb03ebaa</Key>
      <Name>Preview</Name>
      <Alias>preview1902Seo</Alias>
      <Definition>88d62332-2e35-43dd-96d8-7c044a814c3d</Definition>
      <Type>preview.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is how your page might look like when it appears on search results. Note that it might appear differently in certain cases, but generally, this is what you can expect your potential visitors to see when they see your page on search engines.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6943d203-b9f5-4b22-a6cd-fbf093c56d24</Key>
      <Name>Site Map</Name>
      <Alias>siteMapChangeFrequency1902seo</Alias>
      <Definition>5eed4c81-8738-4bf5-82c1-b7750d45056f</Definition>
      <Type>dropdown.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A site map is a list of the URLs within your pages that you want to be indexed. This helps search engines crawl your site better and follow the links within your site easily.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>84d03577-1f1f-48a3-ab11-d619e7197ea9</Key>
      <Name>Priority</Name>
      <Alias>siteMapPriority1902Seo</Alias>
      <Definition>c078148f-3e0e-482c-9b8b-266ec22fec2d</Definition>
      <Type>dropdown.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c493596a-a00c-4520-b094-968130b5d40f</Key>
      <Name>Summary</Name>
      <Alias>summary1902Seo</Alias>
      <Definition>3409c5b2-0dec-495a-a0ec-00dee3ff9bef</Definition>
      <Type>summary.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a detailed review of your page in terms of SEO and performance. Click on “Expand” to view the complete analysis and recommendations. The most important issues to fix are in red, but also pay attention to the suggestions in yellow for further improvements on your SEO]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ce3d462-b485-4dbd-873b-a7099cb41275</Key>
      <Name>Title</Name>
      <Alias>title1902Seo</Alias>
      <Definition>577b3a78-cd6f-49a3-8146-5fc9f17ce53a</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the title for your page that appears as the clickable headline on search results.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>acfc5aad-ced3-4176-b6aa-b7938230c4ee</Key>
      <Name>Twitter Description</Name>
      <Alias>twitterDescription1902Seo</Alias>
      <Definition>0a418fc6-1a16-4d03-9702-a3bc30a1da3a</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>17</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7752bb88-30f8-4f9d-85f7-e6db454312a8</Key>
      <Name>Twitter Image</Name>
      <Alias>twitterImage1902Seo</Alias>
      <Definition>75c8be4d-dc5e-48e7-a621-52a6c1a0f83c</Definition>
      <Type>mediaPicker.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>18</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>acbb3b21-1ac5-4a9b-b40e-81c98804b5fc</Key>
      <Name>Twitter</Name>
      <Alias>twitterTitle1902Seo</Alias>
      <Definition>47a34c76-2f0a-47bd-ac52-6208332f333d</Definition>
      <Type>textInput.1902Seo</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When this page is shared on Twitter, these will be the default content that will be displayed.]]></Description>
      <SortOrder>16</SortOrder>
      <Tab Alias="1902 SEO+">1902 SEO+</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>45f3b587-3dd3-4688-bacb-9f1c35af493a</Key>
      <Caption>1902 SEO+</Caption>
      <Alias>1902 SEO+</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>